.profile__info {
  max-width: 360px;
  margin-right: 230px;
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin-right: 20px;
  }
}

@media screen and (max-width: 640px) {
  .profile__info {
    margin: 26px auto 30px;
    max-width: 280px;
  }
}
